

<head>
  <% include partials/head %>
  <style>
    .card-img-top {
      object-fit: cover;
      height: 200px;
    }

    .card-container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    .card {
      margin: 1rem;
    }
  </style>
</head>

    <div class=""container-fluid">
    
        <h1>Explore Personalized Plans</h1>

        <blockquote class="blockquote">
            <p>Below are some personalized Workouts and Nutrition Plan for your current Goals.</p>
        </blockquote>

      <br />

    </div>
    

    <div class="container">

      <h2>Workout Programs</h2>
      <div class="row">
        <% workouts.forEach((workout, index) => { %>
          <div class="col-md-4">
            <div class="card">
              <img src="<%= workout.image %>" class="card-img-top" alt="<%= workout.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= workout.name %></h5>
                <p class="card-text"><%= workout.description %></p>
                <a href="userpage/explore_program/workout/<%= index %>" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>

      <h2>Nutrition Programs</h2>
      <div class="row">
        <% nutritions.forEach((nutrient, index) => { %>
          <div class="col-md-4">
            <div class="card">
              <img src="<%= nutrient.image %>" class="card-img-top" alt="<%= nutrient.name %>">
              <div class="card-body">
                <h5 class="card-title"><%= nutrient.name %></h5>
                <p class="card-text"><%= nutrient.description %></p>
                <a href="userpage/explore_program/nutrition/<%= index %>" class="btn btn-primary">View Details</a>
              </div>
            </div>
          </div>
        <% }) %>
      </div>
    </div>

    <% include partials/script %>
