<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/head %>
    <style>
      .card-img-top {
        object-fit: cover;
        height: 200px;
      }

      .card-container {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
      }

      .card {
        margin: 1rem;
      }
    </style>

  </head>


  <body>



<div class="container">
  <h1><%= program.name %></h1>
  <img src="<%= program.image %>" alt="<%= program.name %>" class="img-fluid">
  <h2>Description</h2>
  <p><%= program.description %></p>
  <h2>Details</h2>
  <ul>
    <% program.details.forEach((detail) => { %>
      <li><%= detail %></li>
    <% }) %>
  </ul>
  <a href="/userpage" class="btn btn-primary">Back to Explore</a>

</div>


<% include partials/script %>


</body>


</html>
